.hide*
info.md
info.txt
.DS_Store
locals.cpp
target/
out/
*.pyc
/build/
experiment/
/DSA/Python/.tox/
/DSA/Python/venv/
/DSA/Python/src/DSA.egg-info/
/DSA/Java/.settings/
/DSA/Java/.project
/DSA/Java/.classpath
